# IDE and OS files
.DS_Store
**/.DS_Store
.vscode/
.idea/

# Dependencies
**/node_modules/

# Build outputs
**/build/
**/out/
**/dist/

# Environment files
**/.env

# Misc
TODO.txt
.prettierrc
.prettierignore

# Service specific ignores
game/resources/images/.DS_Store
game/resources/.DS_Store